name: shl
services:
  frontend:
    build:
      context: ./frontend
    env_file:
      - .env
    ports:
      - "5001:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
    command: ["npm", "run", "dev"]
    depends_on:
      backend:
        condition: service_started

  backend:
    build:
      context: ./backend
    env_file:
      - .env
    ports:
      - "3002:3000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    environment:
      CHOKIDAR_USEPOLLING: "true"
    command: ["sh", "-c", "npm run prisma:sync && npm run dev"]
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:15
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4
    restart: always
    profiles:
      - tools
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:-admin@admin.com}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:-admin}
    ports:
      - "8080:80"
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - pgadmin_data:/var/lib/pgadmin
  
volumes:
  postgres_data:
  pgadmin_data:
